<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<link href="/css/normal.css" rel="stylesheet">
<head>
	<title>Share Moor - Upload</title>
</head>
<header>

	<!--Be sure to get a logo into assets if we decide to use one?
	If so, remove header of logo name
	<img src="/assets/logo.png" alt="logo" class="logo"> -->
	<h1 class="logo">Share Moor</h1>
	<nav>
		<ul>
			<li><a href="/">Welcome</a></li>
			<li><a href="/">Upload</a></li>
			<li>
				<div th:each="assest : ${page}">
					<a th:href=${assest}>Share</a></div>
				</li>      
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<body>
	<h1>Approval Page</h1>
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>

	<div th:each="file,iter : ${reviewFiles}">
		<th:block th:if="${iter.index == 0}">
			<form method="POST" action="/approval">

				<button type="submit" name="approvedFilename" th:value="${file}">Approve</button>
				<a th:href="${file}"> <!-- <span th:text="${iter.index}"></span>-->
					<span th:each="file2,iter2 : ${reviewThumbs}"> <th:block
							th:if="${iter2.index == iter.index}">
							<img th:src="${file2}" />
							<!-- <span th:text="${iter.index}"></span>-->
						</th:block>
				</span>
				</a>
				<button type="submit" name="deniedFilename" th:value="${file}">Deny</button>

			</form>
		</th:block>
	</div>
</body>
</html>