HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

##Project working directories##
/upload-dir/
/reviewThumb-dir/
/processedThumb-dir/
/processedFull-dir/
/denied-dir/
contact_info.csv

##EXIFtool ##
/asset-dir/exiftool.exe
/asset-dir/Image-ExifTool-12.06/
