<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<link href="/css/mobile.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Share Moor - Welcome</title>
</head>
<h1 class="logo">Share Moor</h1>
<header>

	<!--Be sure to get a logo into assets if we decide to use one?
	If so, remove header of logo name
	<img src="/assets/logo.png" alt="logo" class="logo"> -->

	<nav>
		<ul>
			<li><a href="/" class="active-page">Welcome</a>
				<div class="active-page-bar"></div></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="/gallery">Gallery View</a></li>
			<li><a href="/pageView">Page View</a></li>
			<li><a href="/share">Share</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<body>
	<div class="text-container center">
		<h1>Welcome to Share Moor!</h1>
		<div class="text-left">
			This tool is meant for file sharing between other users at events.
			The goal is for everyone to share their photos, video and other items
			collected during the course of an event so that everyone can
			easily share it with everyone. What makes this
			different from social media? No accounts required. No data
			collection. In fact this program even goes out of its way
			to remove all unneeded information from your files to
			maintain a high level of privacy.
		</div>
		<h2>What Share Moor does</h2>
		<ul class="text-left">
			<li>Shares files that users upload.</li>
			<li>Removes all identifable and fingerprintable information.</li>
			<li>Is collected by one person who only has access to only what
				you give them.</li>

		</ul>
		<h2>What Share Moor does not do</h2>
		<ul class="text-left">
			<li>Sells your information or track you in any way, its not
				possible.</li>
			<li>Share on social media.</li>

		</ul>
		<br>
		<h2>Getting Started</h2>
		<h3>Upload</h3>
		<div class="text-left">
			Go to the upload tab at the top of the page, and press the upload
			button. You will be prompted to select files to be uploaded.
			At this time, the only thing supported are photos. Other file types
			are to come! Once uploaded, they will be visible for anyone
			to view or download under the Gallery View, or the Page
			View.
		</div>
		<h3>Viewing and Downloading</h3>
		<div class="text-left">
			Select either the Gallery or Page view tab to view all public files
			being shared. From here you can browse all shared files,
			and can select images to download on to your device to save.
		</div>
		<h2>Where are my Files going?</h2>
		<div class="text-left">
			Your files are being collected by the host of this event.
		</div>
		<h2>How do I get all of the files after the Event?</h2>
		<div class="text-left">
			Great question! After the event is over, it is not possible to access
			this site as it is not on the internet. If you would like to
			get information regarding obtaining all of the files after the event,
			please go to <a href="/contact">Contact</a> and leave your email. The event
			host will be able to get in contact with you determine how they wish
			to share the files with everyone.
		</div>
		<h2>How do I Share this with others at the event?</h2>
			You can go to <a href="/share">Share</a> and share the QR codes for the wifi and site.
			Further instructions can be found on the share page. 

	</div>
</body>
<hr>
<footer class="center">
	Share Moor, A privacy respecting file sharing tool.<br>[Mobile
	page]
</footer>
</html>