<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<body>

<h1>Share</h1>
<div th:each="assest : ${page}">
[TODO: put a share link here for the page]<br>
<a th:href=${assest}>Reload Page</a><br>
</div>

<a href="/">Home Page</a>


<h1>Wifi:</h1>
<div th:each="assest : ${wifi}">
<img th:src="${assest}">
</div>
<h1>Site QR code:</h1>
<div th:each="assest : ${siteLink}">
<img th:src="${assest}">
</div>

</body>
</html>