<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<link href="/css/normal.css" rel="stylesheet">
<head>
<title>Share Moor - About</title>
</head>
<header>

	<!--Be sure to get a logo into assets if we decide to use one?
	If so, remove header of logo name
	<img src="/assets/logo.png" alt="logo" class="logo"> -->
	<h1 class="logo">Share Moor</h1>
	<nav>
		<ul>
			<li><a href="/">Welcome</a></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="/gallery">Gallery View</a></li>
			<li><a href="/pageView">Page View</a></li>
			<li><a href="/share">Share</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about" class="active-page">About</a>
				<div class="active-page-bar"></div></li>
		</ul>
	</nav>
</header>
<body>
	<div class="text-container center">
		<h1>About</h1>
		<div class="text-left">Share Moor is a file sharing platform
			intended events were individuals who want to find an easy way to
			share their files such as photos or videos in a fast, easy, and
			reliable manner that also respects their privacy. This program is no
			more than a tool that allows individuals to share their files with a
			group at an event, and those files are then collected by the person
			or group hosting this program.</div>
		<h2>Created By</h2>
		<div class="text-left">Mitchell and Nicholas Saunders. Brothers
			who felt the need of many who have been frustrated by the world of
			technology and just wanted to use something simple that just worked.
		</div>
		<h2>Our Project</h2>
		<div class="text-left">
			Its Free and Open Source under the GNU GPL v3 license.<br> Our
			project can be found at: <a
				href="https://github.com/ChaosLime/ShareMoor">https://github.com/ChaosLime/ShareMoor</a>
			
			<br><br> Share Moor is a privacy centered crowdsourced file sharing
			tool.<br> Copyright (C) 2020 Mitchell and Nicholas Saunders<br><br>
			
			This program is free software: you can redistribute it and/or modify
			it under the terms of the GNU General Public License as published by
			the Free Software Foundation, either version 3 of the License, or (at
			your option) any later version.<br><br>
			
			This program is distributed in the
			hope that it will be useful, but WITHOUT ANY WARRANTY; without even
			the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
			PURPOSE. See the GNU General Public License for more details. You
			should have received a copy of the GNU General Public License along
			with this program. If not, see
			<a href="https://www.gnu.org/licenses">https: //www.gnu.org/licenses</a>
			
		</div>


		<h2>Sources and Attributions used within the project</h2>

		<ul style="text-align: left; padding-left: 30%;">
			<li><a href="https://loading.io/css/" target="_blank">Loading.io</a>
				- CC0 License</li>
			<li><a href="https://bitbucket.org/asomov/snakeyaml/src/master/"
				target="_blank">SnakeYaml</a> - Apache License</li>
			<li><a href="https://github.com/zxing/zxing" target="_blank">ZXing</a>
				- Apache License</li>
			<li><a href="https://github.com/spring-projects/spring-boot"
				target="_blank">Spring Boot</a> - Apache License</li>
			<li><a
				href="https://mvnrepository.com/artifact/org.imgscalr/imgscalr-lib"
				target="_blank">Imgscalr</a> - Apache License</li>
			<li><a href="https://openjdk.java.net/legal/gplv2+ce.html"
				target="_blank">OpenJDK</a> - GNU GPL</li>
			<li><a href="https://exiftool.org/" target="_blank">ExifTool</a>
				- GNU GPL</li>
			<li>More to come...</li>

		</ul>
	</div>

</body>
<hr>
<footer class="center">
	Share Moor, A privacy respecting file sharing tool.<br>[Normal
	page]
</footer>
</html>