<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<link href="/css/mobile.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

	<title>Share Moor - Upload</title>
</head>
	<h1 class="logo">Share Moor</h1>
<header>

	<!--Be sure to get a logo into assets if we decide to use one?
	If so, remove header of logo name
	<img src="/assets/logo.png" alt="logo" class="logo"> -->

	<nav>
		<ul>
			<li><a href="/welcome">Welcome</a></li>
			<li><a href="/">Upload</a></li>
			<li><a href="/share">Share</a></li>      
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>

<body>

<div class="center">
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<div>
		
		<form method="POST" enctype="multipart/form-data" action="/">
			<div class="nested-center">

		<br>
			<label>Want to share Files? Upload them here!<br><br>
			<span th:if="${errorMessage}" th:text="${errorMessage}" class="error">Error</span><br>
			<input type="file" name="file" multiple="multiple"/>
			</label>
			<br>
			<br>
			</div>
			<input class="submit" type="submit" value="Upload" />
		</form>
	</div>	 
  </div>

	<hr>
	<div class="center">
		<form method="POST" action="/contactInfo">
				<h3>Please provide your email if you would like to be notified after the event to where you can obtain all of the events uploads.</h3>
				<label class="nested-center">Contact Email: <br>
				<input type="email" id="contactInfo" name="contactInfo" class="email">
				</label>
				<span th:if="${contactInfoErrorMessage}" th:text="${contactInfoErrorMessage}" class="error">
				</span>
				<br><br>
			
			<input class="submit" type="submit" value="Submit" />	
		</form>
	</div>
	<hr>
	<h3 class="center">If you see anything you would like to keep,<br>select it to download it.</h3>
	<div>
		<div>
			<div th:each="file,iter : ${files}">
				<a th:href="${file}">
					<!-- <span th:text="${iter.index}"></span>-->
					<span th:each="file2,iter2 : ${thumbs}">
						 <th:block th:if="${iter2.index == iter.index}">
							<img th:src="${file2}"/>
							<!-- <span th:text="${iter.index}"></span>-->
						</th:block>
					</span>
				</a>
			</div>
		</div>
	</div>
	</div>
</body>
<hr>
<footer class="center">Share Moor, A privacy respecting file sharing tool.<br>[Mobile page]</footer>
</html>