<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<link href="/css/normal.css" rel="stylesheet">
<head>

<title>Share Moor - Share</title>
</head>
<header>

	<!--Be sure to get a logo into assets if we decide to use one?
	If so, remove header of logo name
	<img src="/assets/logo.png" alt="logo" class="logo"> -->
	<h1 class="logo">Share Moor</h1>
	<nav>
		<ul>
			<li><a href="/">Welcome</a></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="/gallery">Gallery View</a></li>
			<li><a href="/pageView">Page View</a></li>
			<li><a href="/share" class="active-page">Share</a>
				<div class="active-page-bar"></div></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>
<body>
	<div class="container center">
		<h1>Share</h1>
		<div class="text-container">To share this program with others,
			be sure that they are on the network that the host is using.
			You can login to wifi using the supplied QR codes on a mobile device by using
			your phones camera or a QR code reading app.<br><br>
			If not able to use QR codes, please use the provided information below them.
			<br> Once on the network you can then use the second QR code to get to the site.
			</div>
		<div class="center">
			<h1>Login to Wifi using QR Code:</h1>

			<img class="qrCode" th:src="@{assests/wifiQR.png}" /> <br> <br>
			Wifi Name: <a th:text="${ssid}"></a><br> Password: <a
				th:text="${pass}"></a>
			<hr>
			<h1>Get to site using QR code:</h1>

			<img class="qrCode" th:src="@{assests/websiteQR.png}" /> <br> <br>
			<a th:text="${address}" th:href="${address}"></a>
		</div>
	</div>

</body>
<hr>
<footer class="center">
	Share Moor, A privacy respecting file sharing tool.<br>[Normal
	page]
</footer>
</html>