<!-- Webpage came from the following places:
//https://spring.io/guides/gs/uploading-files/
//https://github.com/spring-guides/gs-uploading-files -->
<html xmlns:th="https://www.thymeleaf.org">
<link href="/css/mobile.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Share Moor - About</title>
</head>
	<h1 class="logo">Share Moor</h1>
<header>

	<!--Be sure to get a logo into assets if we decide to use one?
	If so, remove header of logo name
	<img src="/assets/logo.png" alt="logo" class="logo"> -->

	<nav>
		<ul>
			<li><a href="/">Welcome</a></li>
			<li><a href="/upload">Upload</a></li>
			<li><a href="/gallery">Gallery</a></li>
			<li><a href="/share">Share</a></li>      
			<li><a href="/contact">Contact</a></li>      
			<li><a href="/about" class="active-page">About</a><div class="active-page-bar"></div></li>
		</ul>
	</nav>
</header>
<body>
<div class="center">
	<h1>About Page</h1>
	(Put about info here)
</div>
		
</body>
<hr>
<footer class="center">Share Moor, A privacy respecting file sharing tool.<br>[Mobile page]</footer>

</html>